    <div class="row">

        <div class="col-md-2">
            <div class="list-group" style="
    display: inline-grid;
    margin-left: 36px;
    font-size: large;
">
                <a ng-repeat="category in categories" ng-click="changeCategory(category.id)" ng-class="list-group-item">
                    {{category.id}} <span class="badge" style="margin-left: 60px;">{{category.num}}</span>
                </a>
            </div>
        </div>

        <div class="col-md-10" ng-if="catlogData.length > 0" style="max-width: 1100px;">
           <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="col-xs-4">Id</th> 
                    <th class="col-xs-4">Name</th>
                    <th class="col-xs-4">Price</th>
                    <th class="col-xs-4">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="i in catlogData">
                    <td class="col-xs-4">{{i.id}}</td> 
                    <td class="col-xs-4">{{i.name}}</td>
                    <td class="col-xs-4">{{i.price}}</td>
                    <td class="col-xs-4">
                        <button class="btn btn-primary" ng-click="pushToCart(i)">Add</button>
                    </td>
                  </tr>
                </tbody>
                </table>
        </div>
        <div class="col-md-10" ng-if="catlogData.length === 0" >
                No data found
        </div>
    </div>